// Material Deep-Ocean/Lighter Theme Color Palette
@import "./base16";

// Blue
$blue-light: $base0D; // base0d
$blue-dark: $base0D;
@if variable-exists("base16") {
  $blue-dark: $base16; // base16 - fall back to base08
}

// Green
$green-light: $base0B; // base0b
$green-dark: $base0B;
@if variable-exists("base14") {
  $green-dark: $base14; // base14 - fall back to base 0B
}

// Orange
$orange-light: $base09; // base09
$orange-dark: $base09; // base09

// Pink
$pink-light: $base0E; // base0e
$pink-dark: $base0E;
@if variable-exists("base17") {
  $pink-dark: $base17; // base17 - fall back to base0e
}

// Purple
$purple-light: $pink-light; // can these and replace with pink
$purple-dark: $pink-dark;

// Red
$red-light: $base08; // base08
$red-dark: $base08;
@if variable-exists("base12") {
  $red-dark: $base12; // base12 - fall back to base08
}

// Teal
$teal-light: $base0C; // base0c
$teal-dark: $base0C;
@if variable-exists("base15") {
  $teal-dark: $base15; // base15 - fall back to base0c
}

// Cyan
$cyan-light: $teal-light; // can this, replace with teal
$cyan-dark: $teal-dark;

// Yellow
$yellow-light: $base0A; // base0a
$yellow-dark: $base0A; // base13 - fall back to base0a
@if variable-exists("base13") {
  $yellow-dark: $base13;
}

// Grey
$grey-050: $base07; // base07
$grey-100: $base06; // base06
$grey-150: $base06; // replace with base06
$grey-200: $base05; // replace with base06
$grey-250: $base05; // not used - remove
$grey-300: $base04; // replace with base04
$grey-400: $base04; // base04
$grey-350: $base04; // not used - remove
$grey-450: $base04; // replace with base04
$grey-500: $base03; // replace with base03
$grey-550: $base03; // base03
$grey-600: $base02; // base02
$grey-650: $base01; // base01
$grey-700: $base00; // base00
$grey-750: mix($grey-700, black, 85);
$grey-800: mix($grey-700, black, 50);
$grey-850: mix($grey-700, black, 45);
$grey-900: mix($grey-700, black, 38);
$grey-950: mix($grey-700, black, 13);

// White
$white: $base06; // base06

// Black
$black: $base00; // base00, base11 if available

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", $red-light, $red-dark);
$button-max: if($topbar == "light", $green-light, $green-dark);
$button-min: if($topbar == "light", $yellow-light, $yellow-dark);
