// Material Deep-Ocean/Lighter Theme Color Palette

// Blue
$blue-light: #6182b8; // base0d
$blue-dark: #82aaff; // base16 - fall back to base08

// Cyan
$cyan-light: #067a82; // can this, replace with teal
$cyan-dark: #71c6e7;

// Green
$green-light: #91b859; // base0b
$green-dark: #c3e88d; // base14

// Orange
$orange-light: #f76d47; // base09
$orange-dark: #f78c6c; // base09

// Pink
$pink-light: #ff5370; // base0e
$pink-dark: #ff9cac; // base17 - fall back to base0e

// Purple
$purple-light: #7c4dff; // can these and replace with pink
$purple-dark: #c792ea;

// Red
$red-light: #e53935; // base08
$red-dark: #f07178; // base12 - fall back to base08

// Teal
$teal-light: #39adb5; // base0c
$teal-dark: #89ddff; // base16 - fall back to base16

// Yellow
$yellow-light: #f6a434; // base0a
$yellow-dark: #ffcb6b; // base13 - fall back to base0a

// Grey
$grey-050: #ffffff; // base07
$grey-100: #eeeeee; // base06
$grey-150: #e7e7e8; // replace with base06
$grey-200: #d3e1e8; // replace with base06
//$grey-250: #cfd8dc; // not used - remove
$grey-300: #d2d4d5; // replace with base04
//$grey-350: #aabfc9; // not used - remove
$grey-400: #94a7b0; // base04
$grey-450: #8796b0; // replace with base04
$grey-500: #8b91a7; // replace with base03
$grey-550: #737b96; // base03
$grey-600: #606780; // base02
$grey-650: #585e74; // base01
$grey-700: #464b5d; // base00
// magick xc:"#464bfd" -fill black -colorize 16% -depth 8 -format "%[hex:u]" info:
$grey-750: mix($grey-700, black, 85);
$grey-750: #3b3f51;
// magick xc:"#464bfd" -fill black -colorize 50% -depth 8 -format "%[hex:u]" info:
$grey-750: mix($grey-700, black, 50);
$grey-800: #232637;
// magick xc:"#464bfd" -fill black -colorize 56% -depth 8 -format "%[hex:u]" info:
$grey-750: mix($grey-700, black, 45);
$grey-850: #1f2233;
// magick xc:"#464bfd" -fill black -colorize 63% -depth 8 -format "%[hex:u]" info:
$grey-750: mix($grey-700, black, 38);
$grey-900: #1a1c25;
// magick xc:"#464bfd" -fill black -colorize 87% -depth 8 -format "%[hex:u]" info:
$grey-750: mix($grey-700, black, 13);
$grey-950: #090b10;

// White
$white: #fafafa; // base06

// Black
$black: #0f111a; // base00, base11 if available

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == "light", #e53935, #f07178);
$button-max: if($topbar == "light", #91b859, #c3e88d);
$button-min: if($topbar == "light", #f6a434, #ffcb6b);
